<%- include('../layout/header.ejs', {title: title}) %>
<%- include('../layout/menu.ejs') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        <form method="POST" class="mt-5">
            <div class="form-group">
                <label for="inputTitle">Название</label>
                <input
                    type="text"
                    value="<%- book.getTitle() %>"
                    name="title"
                    class="form-control"
                    id="inputTitle"
                />
            </div>
          
            <div class="form-group">
                <label for="inputDesc">Описание</label>
                <textarea
                    rows="3"
                    name="description"
                    class="form-control"
                    id="inputDescription"
                >
                    <%= book.getDescription().trim() %>
                </textarea>
            </div>
          
            <div class="form-group text-right ">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<%- include('../layout/footer.ejs') %>